/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  color: #73523f;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=main.css.map */

@font-face {
font-family:Meiryo;
src:url(‘../fonts/MEIRYO.ttc’) format(‘truetype’);
font-weight:normal;
font-style:normal;
}

div.inner {
  max-width: 960px; 
  margin:0 auto;  
}

div.clear-fix{
	clear:both;
}

#header 
{
	border-top:5px solid #f0831e;
	width:100%;
	font-size:12px;
	font-style:normal;	
	letter-spacing:1px;
	height:168px;
	font-family:Meiryo;

	div.inner div.logo
	{
		float:left;
		padding:10px 0px 5px 0px;

		p
		{
			padding-bottom:30px;
			padding-left:7px;
		}

	}

	div.inner div.header_info
	{
		float:right;
		padding:40px 0px 15px 0px;

		p
		{
			padding-right:7px;
			text-align:right;
			line-height:15px;
		}

		img
		{
			padding-left:34px;
		}

		#calendar
		{
			color:#f0831e;
			text-align:right;
		}

	}

}

#navi
{
	border-top:1px solid #ccc6c2;
	border-bottom:1px solid #ccc6c2; 
	width:100%;
	height:53px;
	font-family:Meiryo;
	font-size:15px;
	font-weight:bold;
}

#navi div.inner div.menu ul li
{
	display:inline-block;
	padding:20px 0px 20px 0px;
	margin-left:-4px;
}

#navi div.inner div.menu ul li:last-child
{
	display: inline-block;
    padding: 20px 0px 20px 0px;
    margin-left: -4px;
}

#navi div.inner div.menu ul li:first-child
{
	display:inline-block;
	padding:20px 0px 20px 0px;
	margin-left:0px;
}

#navi div.inner div.menu ul li a
{
	text-decoration:none;
	text-transform:uppercase;
	color: #73523f;
	border-left: 2px solid #ccc6c2;
	padding:0px 32px 0px 32px;
	text-align:center;
}

#navi div.inner div.menu ul li:last-child a
{
	text-decoration: none;
    text-transform: uppercase;
    color: #73523f;
    border-right: 2px solid #ccc6c2;
    padding: 0px 30px 0px 30px;
    text-align: center;
}

div.banner{
	width:100%;
	height:394px;
	display:inline-block;
	margin:0px auto;
	position:relative;
	z-index:200;
	background:url(../images/bg_banner.jpg) repeat-x center top;
	text-align:center;
	float:left;
	}
div.banner div.inner div.slide{
	height:380px;
	width:100%;
	max-width:960px;
	min-width:960px;
	display:block;
	text-align:center;
	margin:0px auto;
	}	
img.banner{
	height:380px;
	width:100%;
	max-width:960px;
	min-width:960px;
	text-align:center;
	margin:0px auto;
	position:relative;
	}

#article
{
	margin-top:40px;
}

#article div.inner #content
{
	width: 73%;
    float: left;
}

#article div.inner #aside
{
	width:24%;
	float:right;
}

div.content_1
{
	width: 100%;
    float: left;
    font-family: Meiryo;
    font-size: 13px;
    font-weight: normal;
}

div.title
{
	font-size:19px;
	font-weight:600;
	font-family:Meiryo;
	width:100%;
	float:left;
}

div.nicdark_divider
{
	float: left;
    width: 100%;
	border-bottom:1px solid #ccc6c23d;
}

div.nicdark_divider.left > span {
    float: left;
}

div.nicdark_divider.big > span {
    width: 140px;
    height: 3px;
}

.nicdark_divider > span {
    display: block;
    margin-top: 5px;
}

.nicdark_radius {
    border-radius: 5px 5px 5px 5px;
}

div.image_1
{
    margin-top: 25px;
    float: left;
    width: 37%;
}

div.content_1 div.text_1
{
	float: right;
    margin-top: 20px;
    width: 63%;
    text-align: left;
}

div.text_1 p
{
	text-align: left;
    line-height: 20px;
    width: 95%;
    padding-bottom: 25px;
    font-size: 13px;
    padding-left: 30px;
}

div.text_1 p strong 
{
	font-weight:bold;
}

div.content_2
{
	margin-top:40px;
}

div.boxs
{
	margin-top:30px;
	float:left;
	width:100%;
}

div.box:first-child
{
	width: 220px;
    float: left;
    border: 1px solid #ccc6c2;
    height: 328px;
}

div.box:nth-child(2)
{
	width: 220px;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    border: 1px solid #ccc6c2;
    height: 328px;
}

div.box:last-child
{
	width:220px;
	float:left;
	border:1px solid #ccc6c2;
	height: 328px;
}

div.box_text
{
	width: 100%;
    float: left;
}

div.box_text p
{
	padding: 7px 10px 7px 10px;
    display: inline-block;
	color: #73523f;
	font-family:Meiryo;
	font-size:13px;
	font-weight:normal;
	line-height:20px;
}

div.box_text a
{
	padding-left:12.5px;
	display:inline-block;
	margin-top:-4px;
}

div.box_text a:hover
{
	padding-left:12.5px;
	display:inline-block;
	margin-top:-4px;
	opacity:0.8;
}

div.box:last-child a
{
	padding-left:12.5px;
	display:inline-block;
	margin-top:15px;
}

div.content_3
{
	margin-top:45px;
}

a.content3_btn
{
	display: block;
    float: right;
    margin: -25px 5px 0px 0px;
}

a:hover.content3_btn
{
	display: block;
    float: right;
    margin: -25px 5px 0px 0px;
	opacity:0.8;
}

div.text_3
{
	font-family:Meiryo;
	font-size:14px;
	font-weight:normal;
	float:left;
	width:100%;
}

div.text3-row
{
	border-bottom:3px dotted #ccc6c2;
	padding:20px 0px 20px 0px;
	text-align:left;
}

#aside
{
	margin-top:-5px;
	font-family:Meiryo;
	font-size:13px;
	font-weight:normal;
}

div.bg_border_r_1
{
	margin-top:20px;
	border:5px double #ccc6c2;  
	float:left;
	width:96%;

}

div.bg_border_r_1 h2
{
	padding:15px 7px 0px 7px; 
	font-weight:bold;
	font-size:17px;
}

div.bg_border_r_1 ul
{
	width:100%;
}

div.bg_border_r_1 ul li
{
	padding:10px 0px 10px 15px;
}

div.bg_border_r_1 ul li.li_1
{
	padding:20px 0px 10px 5px;
}

div.bg_border_r_1 ul li a
{
	text-decoration:none;
	font-family:Meiryo;
	font-size:14px;
	font-weight:normal;
	color: #73523f;
}

div.bg_border_r_1 ul li a:hover
{
	font-family:Meiryo;
	font-size:14px;
	font-weight:normal;
	color: #73523f;
}

div.nicdark_divider.small > span {
    width: 140px;
    height: 1px;
}

img.aside_img_2
{
	margin-top:22px;
}

a:hover img.aside_img_2
{
	opacity:0.8;
}

img.aside_img_3
{
	margin-top:22px;
}

a:hover img.aside_img_3
{
	opacity:0.8;
}

div.bg_border_r_2
{
	border:5px solid #ccc6c2;
	margin-top:22px;
	font-family:Meiryo;
	font-size:12px;
	font-weight:normal;
	color: #73523f;
}

div.bg_border_r_2 h2
{
	font-size:17px;
	font-weight:bold;
	padding:20px 0px 20px 10px;
}

div.bg_border_r_2 p
{
	line-height:20px;
	padding:0px 0px 0px 10px;
}

img.phone_pc
{
	padding:5px 0px 10px 6px;
}

img.aside_map
{
	padding:20px 0px 0px 10px;
	width:90%;
}

img.aside_button
{
	padding:20px 0px 15px 10px;
	width:90%;
}

#footer
{
	margin-top:35px;
}

div.bg_footer
{
	background:url(../images/footer_bg.jpg);
	height:270px;
}

div.footer_info
{
	padding:30px 0px 45px 0px;
	float:left;
}

div.footer_info p
{
	line-height:20px;
	padding:10px 0px 10px 0px;
}

div.menu_footer_1
{
	margin: 30px 17px 45px 10px;
    float: left;
    width: 300px;
    height: 200px;
    border: 2px solid #ccc6c2;
}

div.menu_footer_1 ul li
{
	padding:5px 10px 5px 0px;
	display:inline-block;
}

div.menu_footer_1 ul li img
{
	padding:5px 10px 5px 30px;
}

div.menu_footer_1 ul li a
{
	text-decoration:none;
	font-family:Meiryo;
	font-size:14px;
	font-weight:normal;
	color: #73523f;
}

div.menu_footer_2
{
	margin: 30px 0px 45px 0px;
    float: left;
    width: 200px;
    height: 200px;
    border: 2px solid #ccc6c2;
	background:#fff;
}

div.menu_footer_2 ul li
{
	padding:3px 10px 3px 0px;
}

div.menu_footer_2 ul li a
{
	text-decoration:none;
	font-family:Meiryo;
	font-size:13px;
	font-weight:normal;
	color: #73523f;
}

div.copyright
{
	background:#f88e01;
	text-align:center;
	color:#fff;
	font-family:Meiryo;
	font-size:12px;
	font-weight:normal;
	padding:10px 0px 10px 0px;
	font-weight:bold;
}
